@use "../../style/mixin.scss" as *;
@use "../../style/var.scss" as *;

.table {
  @include display();
  width: 100%;
  &__main {
    @include display();
    @include whiteBoxesShadow();
    @include paddingContainersBig();
    flex-direction: column;
    width: 100%;
    background-color: var(--app-white);
    border-radius: 20px;
    gap: 20px;
  }

  &__head {
    @include display();
    justify-content: start;
    width: 100%;
  }

  &__head-r {
    @include display();
    justify-content: space-between;
    width: 100%;
    gap: 30px;
    padding: 10px;
  }

  &__head-rth {
    @include display();
    @include inter();
    justify-content: start;
    flex-grow: 1;
    width: 10px;
    overflow-x: auto;
    font-weight: 500;
    font-size: 15px;
    color: var(--text-main);
    white-space: nowrap;
    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__head-rth-center,
  &__body-rtd-center {
    justify-content: center !important;
    min-width: 85px;
  }

  &__body-rtd-center {
    overflow: none;
  }

  &__body-r-animate {
    animation: table-row-animate 0.3s linear
  }

  &__head-rth-min-width,
  &__body-rtd-min-width {
    flex-grow: 0 !important;
    width: fit-content !important;
  }

  &__body {
    @include display();
    flex-direction: column;
    gap: 10px;
    width: 100%;
  }

  &__body-r {
    @include display();
    width: 100%;
    justify-content: space-between;
    gap: 30px;
    padding: 10px;
    border-radius: 10px;
    transition: all 0.2s linear;
    cursor: pointer;

    @media (hover: hover) {
      &:hover {
        @include whiteBoxesShadow();
      }
    }
  }

  &__body-rtd {
    @include display();
    @include inter();
    font-size: 14px;
    flex-grow: 1;
    width: 10px;
    white-space: nowrap;
    overflow: auto;
    text-align: start;
    justify-content: start;
    gap: 10px;

    color: var(--text-muted);
    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__body-img {
    width: 30px; 
    height: 30px;
    border-radius: 50px;
  }

  &__body-span-svg {
    background-color: var(--cards-pop);
    min-width: 35px;
    min-height: 35px;
    padding: 9px;
    border-radius: 10px;
    color: var(--text-muted);
    cursor: pointer;

    @media (hover: hover) {
      &:hover {
        border: 1px solid var(--text-muted);
      }
    }

    &:active {
      background-color: var(--text-muted);
      color: var(--cards-pop);
    }
  }

  &__body-status {
    @include display();
    padding: 8px 13px;
    @include inter();
    font-size: 14px;
    border: 1px solid transparent;
    border-radius: 50px;
    
    &-active {
      background-color: rgb(from var(--app-green) r g b / 0.2);
      color: var(--app-green);
      border: 1px solid rgb(from var(--app-green) r g b / 0.2);
    }
    &-inactive {
      background-color: rgb(from var(--app-yellow) r g b / 0.2);
      color: var(--app-yellow);
      border: 1px solid rgb(from var(--app-yellow) r g b / 0.2);
    }
  }
}


@keyframes table-row-animate {
  0%{
    transform: scale(1);
  }50%{
    transform: scale(1.01);
  }100%{
    transform: scale(1);
  }
}