@use "../style/mixin.scss" as *;
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.page{
    display: flex;
    &__main{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}