@use "../../style/mixin.scss" as *;
@use "../../style/var.scss" as *;
.header {
  width: 95%;
  // margin: auto;
  height: 80px;
  display: flex;
  align-items: start;
  justify-content: space-between;
  padding: 20px 0px;
  &__title{
    @include inter();
    font-weight: 600;
    font-size: 28px;
    color: var(--text-main);
    margin-bottom: 10px;
  }
  &__status {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__dot {
    margin-top: 5px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
  }

  &__dot--pending {
    background: orange;
  }

  &__dot--fulfilled {
    background: green;
  }

  &__dot--rejected {
    background: red;
  }
}
