@use "../../style/mixin.scss" as *;
@use "../../style/var.scss" as *;
.header {
  width: 100%;
  height: 80px;
  padding: 20px 50px;
  &__svg {
    position: absolute;
    width: 20px;
    top: 6px;
    left: 155px;
    color: #939598;
  }
  &__svg2 {
    color: black;
  }
  &__search {
    padding-left: 10px;
    padding-bottom: 2px;
    height: 35px;
    border-radius: 5px;
    border: #ccd1dc solid 2px;
    background-color: #fff;
  }
  &__status {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
  }

  &__dot--pending {
    background: orange;
  }

  &__dot--fulfilled {
    background: green;
  }

  &__dot--rejected {
    background: red;
  }
}
