@mixin display() {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin inter {
  font-family: "Inter";
}

@mixin paddingContainersBig() {
  padding: 20px 30px;
}

@mixin whiteBoxesShadow() {
  box-shadow: 0px 0px 10px -6px var(--text-muted);
}
