:root {
  --bg-main-dark: #242422;
  --bg-main-dark-pop: #303028; 
  --app-blue: #3B82F6;
  --app-green:  #10B981;
  --app-yellow: #F59E0B;
  --app-red: #EF4444;
  --app-purple: #8B5CF6;
  --cards-pop: #F3F4F6;
  --app-white: #FFFFFF;
  --text-main: #1F2937;
  --text-muted: #6B7280;

}